.back-shadow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 101;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    width: min-content;
}

.modal-container {
    min-width: 350px;
    height: min-content;
    background: white;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 360px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.added-product {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.img-container img {
    width: 90px;
    height: 90px;
}

.container-class {
    position: relative;
    overflow: hidden;
    padding-right: 7rem;
}

.title {
    display: block;
    text-align: left;
    font-weight: 500;
    margin: 1rem 0;
    font-size: 0.8rem;
}

.green-check {
    width:17px;
    height:16px;
    margin-right: 0.3rem;
}

@media all and (max-width: 380px) {
    .modal-container {
        padding : 1.5rem;
        padding-top: 0.3rem;
    }
}
 
@media all and (min-width: 750px) {
    .modal-wrapper {
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    .modal-container {
        padding: 2rem;
        max-width: 550px;
    }

    .title {
        font-size: 1.2rem;
    }

    .green-check {
        width: 25px;
        height: 25px;
    }

    .img-container img {
        width: 125px;
        height: 125px;
    }
}


.div-width {
    width: 50%!important;
}