.variant-1-button {
    padding: 0.8rem 0rem;
    text-align: center;
    height: min-content;
    border: 1px solid black;
    border-radius: 0.2rem;
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 300ms ease;
    background-color: #ffff;
}


.variant-1-button:hover {
    opacity: 0.8;
}

.variant-2-button {
    padding: 0.8rem 0rem;
    background-color: #1d1d1d;
    text-align: center;
    height: min-content;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ffff;
    cursor: pointer;
    transition: all 300ms ease;
}

.variant-2-button:hover {
    opacity: 0.8;
}